
<div>
    <h2 align="center">{{event.name_en}}</h2>
    <div class="card">
        <div class="item" align="center">
            <p>{{event.startdate}}</p>
            <p>{{event.starttime}} - {{event.endtime}}</p>
            <p>Room: {{event.room === "" ? "No room availible" : event.room}}</p>
            <p>Teacher: {{event.teacher === "" ? "No teacher availible" : event.teacher}}</p>
            <p>Info: {{event.info === "" ? "No info availible" : event.info}}</p>
            <p>Description: {{event.desc === "" ? "No description availible" : event.desc}}</p>
        </div>
    </div>
</div>