<ion-view view-title="Courses">
    <div class="verticalCenter">
        <div style="padding: 1em;">
        <button ui-sref="tab.courses-my" class="button button-block button-large button-dark" style="margin-bottom: 2em;">

            <i class="icon ion-folder placeholder-icon"></i>
            My courses
        </button>
        <button ui-sref="tab.courses-list" class="button button-block button-large button-dark">
            <i class="icon ion-search placeholder-icon"></i>
            Find courses
        </button>
        </div>
    </div>
</ion-view>
