<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{course_info.name_en}}">
  <ion-content class="padding">
   <div class="row">
        <div class="col">
          <ul class="course-info-static">
            <li>Swedish name:</li>
            <li>English name:</li>
            <li>Course code:</li>
            <li>Course id:</li>
            <li>Swedish syllabus:</li>
            <li>English syllabus:</li>
            <li>Course points:</li>
            <li>Course location:</li>
            <li>Course language:</li>
            <li>Course speed:</li>
            <li>Semester:</li>
            <li>LNU course page:</li>
            <li>Year:</li>
          </ul>
        </div>
   <div class="col">
    <ul class="course-info-dynamic" style="text-align: right;">
        <li>{{course_info.name_sv}}</li>
        <li>{{course_info.name_en}}</li>
        <li>{{course_info.course_code}}</li>
        <li>{{course_info.course_id}}</li>
        <li><a href={{course_info.syllabus_sv}}>Swedish Syllabus</a></li>
        <li><a href={{course_info.syllabus_en}}>English Syllabus</a></li>
        <li>{{course_info.course_points}}</li>
        <li>{{course_info.course_location}}</li>
        <li>{{course_info.course_language}}</li>
        <li>{{course_info.course_speed}}</li>
        <li>{{course_info.semester}}</li>
        <li><a href={{course_info.url}}>LNU Course page</a></li>
        <li>{{course_info.year}}</li>
    </ul>
   </div>
   </div>
   <button class="button button-full button-balanced" ng-click="getCourse(course_info.course_code)">
        Add
   </button>
  </ion-content>
</ion-view>
