<ion-view view-title="Add/View Courses">
  <div class="bar bar-subheader">
    <div class="row">
      <div class="col col-50" ng-click="goToAddCourses()" style="text-align: center;">Add Course</div>
      <div class="col col-50" ng-click="goToMyCourses()" style="text-align: center;">My Courses</div>
    </div>
      <div class="list">
          <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" placeholder="Search" style="height: 3em !important; font-size: 12pt;" ng-model="filterCourses">
          </label>
      </div>
  </div>

  <ion-content class="padding has-subheader">
    <!-- <button class="button button-full button-positive" ng-click="printDashScope()"> -->
    <!--   Full Width Block Button -->
    <!-- </button> -->

    <ion-slide-box delegate-handle="slideHandle">
      <ion-slide>
          <ion-scroll class="courseScroll" style="height: 100vh">
          <div class="list">
              <ion-item class="item-icon-right" id="course-list" collection-repeat="course in all_courses | filter: filterCourses" type="item-text-wrap" ng-click="getCourseInfo(course.course_code)">
                  <h2 style="padding-top: 0.15em;">{{course.name_en}}</h2>
                  <i class="icon ion-chevron-right icon-accessory"></i>
              </ion-item>
          </div>
          </ion-scroll>
          </ion-slide>
      <ion-slide style="background-color: white">
          <ion-scroll class="courseScroll" style="height: 100vh">
	  <ion-list>
            <ion-item class="item-icon-right" id="added-course-list" collection-repeat="course in selected_courses" type="item-text-wrap" ng-click="getCourseInfo(course.course_code)">
                <h2 style="padding-top: 0.15em;">{{course[0].name_en}}</h2>
	      <i class="icon ion-chevron-right icon-accessory"></i>
	    </ion-item>
          <ion-item ng-show="!selected_courses.length">
              No courses added
          </ion-item>
	  </ion-list>
      </ion-scroll>
      </ion-slide>
      </ion-slide-box>
    
  </ion-content>
</ion-view>
