/* Empty. Add your own CSS if you like */
*{
    margin: 0;
    padding: 0;
}

.course-input{
    width: 100vw;
    height: 3.5em !important;
    text-align: left;
    text-indent: 1vw;
    font-size: 12pt !important;
}

#course-list{
    text-align: left;
}

.bar-subheader {
    top: 44px;
    display: block;
    height: 110px;
}

.has-subheader {
    top: 155px;
}

.scroll-bar-indicator
{
    display: none;
}

.courseScroll{
    margin-top: -1em;
}

.li {
    width: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-lines: 1;

}

