
<div>
    <h2 align="center">Rating</h2>
    <div class="card">
        <div align="center">
            <p style="margin-top: 0.2em;">Please rate the course {{course.name_en}} where 1 is the lowest and 5 the highest.</p>
            <rating style="margin-top: 0.5em;" ng-model="data.rating" max="data.max"></rating>
        </div>
        <div class="row">
            <div class="col col-50">
                <button class="button button-block button-dark" ng-click="clickSkip(); closeThisDialog()">Skip</button>
            </div>
            <div class="col col-50">
                <button class="button button-block button-positive" ng-click="clickRate(); closeThisDialog()">Rate</button>
            </div>
        </div>
    </div>
</div>