<ion-view view-title="PDF Viewer">
        <ion-scroll>
            <button ng-click="prevPage()">&lt;</button>
            <button ng-click="nextPage()">&gt;</button>
            <br>
            <span>{{currentPage}}/{{totalPages}}</span>
            <br>
            <iframe ng-src="{{url | trusted}}" width="800px" height="600px" >
            <div>
                <pdfviewer ng-src="{{url | trusted}}" on-page-load='pageLoaded(page,total)' id="viewer"></pdfviewer>
            </div>
        </ion-scroll>
</ion-view>
