<ion-view view-title="Schedule">
    <ion-content>

        <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
        </ion-refresher>

        <div class="card" ng-show="myCourses.length == 0 && events.length == 0">
            <div class="item item-text-wrap" align="center">
                <h1>Welcome to UniTime!</h1>
                <br>
                <br>
                <p>The perfect app for you to keep track of your schedule!</p>
                <p>Press the "Add course" button!</p>
                <br>
                <br>
                <button ui-sref="tab.courses" class="button button-block button-large button-dark">
                    <i class="icon ion-search placeholder-icon"></i>
                    Handle courses
                    <i class="icon ion-folder placeholder-icon"></i>
                </button>
            </div>
        </div>

        <div class="card" ng-show="myCourses.length > 0 && events.length == 0">
            <div class="item item-text-wrap" align="center">
                <h1>No schedule!</h1>
                <br>
                <br>
                <p>Lucky you!</p>
                <p>Have a coffee and enjoy life!</p>
                <br>
                <br>
                <button ui-sref="tab.courses" class="button button-block button-large button-dark">
                    <i class="icon ion-search placeholder-icon"></i>
                    Handle courses
                    <i class="icon ion-folder placeholder-icon"></i>
                </button>
            </div>
        </div>

        <ion-list ng-hide="myCourses.length == 0">
            <ion-item class="item-icon-left" collection-repeat="event in events | orderBy: 'start_datetime' | filter : filterCourses" type="item-text-wrap">
                <div>
                    <i ng-show="event.date == dateToday.getTime()" class="icon ion-ios-clock" ng-click="showTodayPopup()"></i>
                    <!--<i ng-show="event.date == dateToday" class="icon ion-alert-circled" ng-click="showTodayPopup()"></i>-->
                    <i ng-show="event.date == dateTomorrow.getTime()" class="icon ion-ios-clock-outline" ng-click="showTomorrowPopup()"></i>
                </div>

                <div align="center" ng-click="eventDetail(event)">

                    <p><b>{{ event.startdate }}</b></p>
                    <p>{{ event.name_en }}</p>
                    <p>{{ event.starttime }}-{{ event.endtime }}</p>
                    <div ng-if="event.room.length > 1">
                        <p>{{ event.room }}</p>
                    </div>
                    <div ng-if="event.room.length <= 0">
                        <p>No room available</p>
                    </div>
                    <p>{{ event.info }}</p>
                </div>

                <span ng-show="event.info == 'Tentamen' || event.info == 'Redovisning' || event.info == 'Examination'" class="badge badge-assertive">!</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>