<ion-view view-title="My Courses">
    <ion-content>

        <div ng-show="myCourses.length == 0" class="card">
            <div class="item" align="center">
                You have no courses!
            </div>
        </div>

            <div collection-repeat="course in myCourses" ng-click="getCourse(course.course_code)">
                <div class="card" align="center">
                    <div class="item">
                        <h2>{{course.course_code}}</h2>
                        <p>{{course.name_en}}</p>
                        <p>{{course.name_sv}}</p>
                        <p>{{course.course_points}}</p>
                        <p>{{course.course_speed}}</p>
                        <p>{{course.semester}} - {{course.year}}</p>
                        <p>{{course.course_location}}</p>
                        <p>{{course.course_language}}</p>
                    </div>
                    <a class="item" ng-click="openUrl(course)">
                        Link to course.
                    </a>
                    <a class="item" ng-click="openSyllabusEN(course)">
                        Syllabus English.
                    </a>
                    <a class="item" ng-click="openSyllabusSV(course)">
                        Syllabus Swedish.
                    </a>
                    <button class="button button-dark button-block" ng-controller="PopupCtrl" ng-click="showPopup(course)">
                        <i class="icon ion-trash-a placeholder-icon"></i>
                        Remove course
                    </button>
                </div>
            </div>

    </ion-content>
</ion-view>