<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Course Info">
    <ion-content>


            <div align="center">
                <div>
                    <h4 style="margin-top: 1em">{{course.course_code}}</h4>
                    <h5>{{course.name_en}}</h5>
                    <h5>{{course.name_sv}}</h5>
                    <p>{{course.course_points}}</p>
                    <p>{{course.course_speed}}</p>
                    <p>{{course.semester}} - {{course.year}}</p>
                    <p>{{course.course_location}}</p>
                    <p>{{course.course_language}}</p>
                </div>
                <a ng-if="course.url.length > 5" class="item" ng-click="openUrl()">
                    Link to course.
                </a>
                <a class="item" ng-click="openSyllabusEN()">
                    Syllabus English.
                </a>
                <a class="item" ng-click="openSyllabusSV()">
                    Syllabus Swedish.
                </a>


                <a ng-cloak ng-hide="alreadyAdded == true" class="item ng-cloak" ng-click="addCourseToSelectedCourses()">
                    <i class="icon ion-plus-round"></i>
                    <b>
                        Add course
                    </b>

                </a>

                <a ng-cloak ng-hide="alreadyAdded == false" class="item ng-cloak">
                    <i class="icon ion-checkmark-round"></i>
                    <b>
                        Course added!
                    </b>
                </a>
            </div>


    </ion-content>
</ion-view>
